@import '../../../../../styles/variables.sass'

.top-row
  display: flex


.filter-field
  margin-right: 8px
  min-width: 0
  width: 350px

.filter-field .search-icon
  color: $gray-light
  margin-right: 8px

.filter-field .mat-icon-button
  margin: 0 -3px 0 8px
  opacity: 1
  transition: opacity $transition-time-slow $transition-curve, color $transition-time-fast $transition-curve

.filter-field .mat-icon-button:disabled
  opacity: 0  

.filter-field .mat-icon-button:not(:disabled)
  color: $gray-light

.filter-field .mat-icon-button:hover:not(:disabled)
  color: $white-dim


.buttons
  color: $gray-light
  margin-left: auto
  padding-bottom: 1.34375em
  display: flex
  align-items: center

.buttons button:hover:not(:disabled)
  color: $white-dim

.error-message,
.no-results-found
  font-family: "CircularSpotifyTxT-Black"
  font-size: 2em
  display: flex
  justify-content: center
  align-items: center
  height: 100%

.progress-spinner-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100%


// table

.table-container
  width: 100%
  height: 556px
  overflow: overlay

.mat-table
  color: $white
  background: none

.mat-row
  height: auto
  border-radius: 10px 5px 5px 10px
  border: none
  margin-bottom: 12px
  box-shadow: $subtle-shadow
  background-color: $gray-dark-row
  transition: background-color $transition-time-fast $transition-curve
  cursor: pointer

.mat-row-short
  margin-right: 12px

.mat-row:hover
  background-color: $gray-dark-row-hover

.mat-row:last-of-type
  margin-bottom: 3px

.mat-row:focus
  outline: 0
  background-color: $gray-dark-row-hover

.mat-row-selected
  background-color: $green

.mat-row-selected:hover, .mat-row-selected:focus
  background-color: $green-hover

.mat-cell
  color: $white
  font-size: 1em
  max-height: 100px
  padding: 0

.mat-column-playlist-image
  border-radius: 5px 0 0 5px
  background-color: $gray-dark-row
  max-width: 100px
  min-height: 100px

.mat-column-playlist-image img
  border-radius: 5px 0 0 5px
  object-fit: cover

.mat-column-playlist-image i
  color: $gray-dark-background
  font-size: 76px
  margin: auto


.playlist-details-container
  padding: 8px 16px
  align-items: center
  text-align: left
  width: 100%

.playlist-details-name
  font-family: "CircularSpotifyTxT-Black"
  line-height: 1.2em
  font-size: 1.9em
  max-height: 2.4em
  overflow: hidden

.playlist-details-owner
  font-family: "CircularSpotifyTxT-Light"
  padding-top: 4px
  color: $white-dim
  display: flex

.created-by-text
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.owner-text
  font-family: "CircularSpotifyTxT-Black"
  color: $white

.divider
  font-family: Roboto, "Helvetica Neue", sans-serif
  padding: 0 4px
  user-select: none

.songs-text
  min-width: fit-content


@media(max-width: $breakpoint-tablet)
  .table-container
    height: 506px

  .mat-cell
    max-height: 90px

  .mat-column-playlist-image
    max-width: 90px
    min-height: 90px

  .mat-column-playlist-image i
    font-size: 68.4px

  .playlist-details-container
    padding: 6px 12px

  .playlist-details-name
    font-size: 1.8em

  .playlist-details-owner
    padding-top: 2px


@media(max-width: $breakpoint-phone)
  .table-container
    height: 456px

  .mat-cell
    max-height: 80px

  .mat-column-playlist-image
    max-width: 80px
    min-height: 80px

  .mat-column-playlist-image i
    font-size: 60.8px

  .playlist-details-container
    padding: 4px 8px

  .playlist-details-name
    font-size: 1.7em


.paginator-hidden
  visibility: hidden

.fade-in
  animation: selection-fade-in $transition-time-medium $transition-curve
