<div class="top-row">
  <mat-form-field class="filter-field" appearance="fill">
    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <mat-label>Filter</mat-label>
    <input matInput #filterInputRef (keyup)="applyFilter()">
    <button mat-icon-button matSuffix (click)="clearFilter()" disabled="{{dataSource.filter === ''}}" aria-label="Clear filter">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div class="buttons">
    <button mat-icon-button (click)="refreshSelection()" aria-label="Refresh playlists"
      matTooltip="Refresh playlists" disabled="{{dataSourceLoading === true}}">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-icon-button (click)="clearSelection()" aria-label="Clear selected playlists"
      matTooltip="Clear selected playlists" disabled="{{selection.selected.length === 0}}">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div #tableContainerRef class="table-container">
  <div *ngIf="showErrorMessage" class="error-message">
    An error occurred while fetching the playlists.
  </div>

  <div *ngIf="showNoResultsFound" class="no-results-found">
    <ng-container *ngIf="dataSource.filter.length === 0">
      No results found
    </ng-container>
    <ng-container *ngIf="dataSource.filter.length > 0">
      No results found for "{{dataSource.filter.substring(0, 30) + (dataSource.filter.length > 30 ? '...' : '')}}"
    </ng-container>
  </div>

  <div *ngIf="dataSourceLoading" class="progress-spinner-wrapper">
    <mat-progress-spinner [diameter]="50" [strokeWidth]="5" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="playlist-image">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let playlist">
        <img *ngIf="playlist.image; else noImage" src="{{playlist.image.url}}"
          width="{{imgSize}}" height="{{imgSize}}" alt="{{playlist.name}} cover">
        <ng-template #noImage><i class="material-icons">album</i></ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="playlist-details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let playlist">
        <div class="playlist-details-container">
          <div class="playlist-details-name">{{playlist.name}}</div>
          <div class="playlist-details-owner">
            <div class="created-by-text"><span *ngIf="showCreatedByText">Created by </span><span class="owner-text">{{playlist.ownerName}}</span></div>
            <div class="songs-text"><span class="divider">•</span>{{playlist.size}} song{{playlist.size !== 1 ? 's' : ''}}</div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" tabindex="-1"
      [ngClass]="{'mat-row-selected': this.selection.selected.includes(row), 'mat-row-short': this.paginator.pageSize > 5, 'fade-in': fadeIn}"
      (click)="$event.stopPropagation(); $event ? selectTableRow($event, row) : null" (keydown)="tableKeydown($event, row)"></mat-row>
  </mat-table>
</div>

<mat-paginator [ngClass]="{'paginator-hidden': dataSource.filteredData.length === 0, 'fade-in': fadeIn}"
  [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="onPageChanged()"></mat-paginator>
