<h1>{{header}}</h1>

<div class="progress-spinner-wrapper">
  <mat-progress-spinner class="progress-spinner" [ngClass]="{'progress-spinner-cancel': progressSpinnerCancel, 'progress-spinner-error': request.state === State.Error}"
    [diameter]="150" [strokeWidth]="7.5" [mode]="'determinate'" [value]="request.progress">
  </mat-progress-spinner>
  <div class="progress-percentage">
    <span *ngIf="request.state === State.InProgress || request.state === State.Successful">{{request.progress | number : '1.0-0'}}%</span>
    <mat-icon *ngIf="request.state === State.Cancelled" class="cancelled-icon">clear</mat-icon>
    <mat-icon *ngIf="request.state === State.Error" class="error-icon">priority_high</mat-icon>
  </div>
</div>

<div class="progress-description">{{request.description}}</div>

<button *ngIf="request.state === State.InProgress" mat-button class="cancel-button" [disabled]="progress === progressComplete"
  (click)="onCancelClick()" (mouseover)="onMouseOverCancel(true)" (mouseleave)="onMouseOverCancel(false)" [disabled]="blockCancellation">Cancel</button>
<button *ngIf="request.state !== State.InProgress" mat-button matStepperPrevious (click)="onBackClick()">Back</button>
<button mat-button [routerLink]="['']" [disabled]="request.state === State.InProgress">Done</button>
