<mat-card>
  <mat-icon>info</mat-icon>Consider splitting the output into multiple playlists if you expect it to be too big.
</mat-card>

<form [formGroup]="form" #formDirective="ngForm">
  <div class="top-row">
    <h1>Split the playlist</h1>
  
    <div class="buttons">
      <button mat-icon-button (click)="resetForm()" matTooltip="Reset form" disabled="{{isFormPristine}}" aria-label="Reset form">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <mat-grid-list class="split-the-playlist-grid" cols="{{gridCols}}" rows="1" rowHeight="82px" gutterSize="{{gutterSize}}">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="big-button-wrapper" [ngClass]="{'big-button-selected': splitByTracksSelected}">
        <div matRipple class="big-button" (click)="selectSplitOnClick('tracks')" appKeyboardClick tabindex="0" aria-label="Split every n tracks">
          Split every
          <mat-form-field class="big-button-input">
            <input matInput #splitByTracksInput formControlName="splitByTracksNumber" type="number" tabindex="{{splitByTracksSelected ? 0 : -1}}" (click)="onSplitByTracksInputClick($event)"
              [min]="splitByTracksMinNumber" [max]="splitByTracksMaxNumber" [step]="10" (blur)="onSplitByTracksInputBlur(splitByTracksInput.value)">
          </mat-form-field>
          tracks
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <div class="big-button-wrapper" [ngClass]="{'big-button-selected': splitByPlaylistsSelected}">
        <div matRipple class="big-button" (click)="selectSplitOnClick('playlists')" appKeyboardClick tabindex="0" aria-label="Split into n playlists">
          Split into
          <mat-form-field class="big-button-input">
            <input matInput #splitByPlaylistsInput formControlName="splitByPlaylistsNumber" type="number" tabindex="{{splitByPlaylistsSelected ? 0 : -1}}" (click)="onSplitByPlaylistsInputClick($event)"
              [min]="splitByPlaylistsMinNumber" [max]="splitByPlaylistsMaxNumber" (blur)="onSplitByPlaylistsInputBlur(splitByPlaylistsInput.value)">
          </mat-form-field>
          playlists
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="smart-split">
    <div class="checkbox-container">
      <mat-checkbox class="smart-split-checkbox" formControlName="smartSplit" appKeyboardClick>Smart Split on</mat-checkbox>
      <mat-form-field appearance="standard">
        <mat-select formControlName="smartSplitType">
          <mat-option value="albums">
            albums
          </mat-option>
          <mat-option value="artists">
            artists
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button (click)="openSmartSplitHelp()" matTooltip="What is this?" aria-label="Help">
      <mat-icon>help</mat-icon>
    </button>
  </div>

  <h1>Playlist details</h1>

  <mat-grid-list class="playlist-details-grid" cols="{{gridCols}}" rows="2" rowHeight="70px" gutterSize="{{gutterSize}}">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field appearance="fill" (keydown.enter)="$event.preventDefault()">
        <div *ngIf="selectedNumberingPlacement === 'before' && selectedNumberingStyle"
          class="prefix" matPrefix>{{numberingStyleDisplays[selectedNumberingStyle][0]}}.</div>
        <mat-label>Name</mat-label>
        <div *ngIf="selectedNumberingPlacement === 'after' && selectedNumberingStyle"
          class="suffix" matSuffix>{{numberingStyleDisplays[selectedNumberingStyle][0]}}</div>
        <input matInput #name formControlName="name" required [maxLength]="nameMaxLength">
        <mat-hint *ngIf="name.value?.length >= nameMaxLength - 70" align="end">
          {{name.value?.length || 0}}/{{nameMaxLength}}
        </mat-hint>
        <mat-error *ngIf="form.get('name').hasError('required')">
          <strong>You must give your playlist a name</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea #description class="description" formControlName="description"
           [maxLength]="descriptionMaxLength" matInput rows="7"></textarea>
        <mat-hint *ngIf="description.value?.length >= descriptionMaxLength - 70" align="end">
          {{description.value?.length || 0}}/{{descriptionMaxLength}}
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <div>
        <mat-button-toggle-group [(value)]="selectedNumberingPlacement" formControlName="numberingPlacement">
          <mat-button-toggle value="before">
            <mat-icon>format_list_numbered</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="after">
            <mat-icon>format_list_numbered_rtl</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Numbering</mat-label>
        <mat-select [(value)]="selectedNumberingStyle" formControlName="numberingStyle">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let numberingStyle of numberingStyles" value="{{numberingStyle}}">
            <ng-container *ngFor="let item of numberingStyleDisplays[numberingStyle]; let i = index">
              {{item + (numberingStyleDisplays[numberingStyle] === 'before' ? '.' : '')}}
              <span *ngIf="i < numberingStyleDisplays[numberingStyle].length - 1" class="numbering-style-separator">,</span>
            </ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="checkbox-container">
    <mat-checkbox class="make-secret-checkbox" formControlName="isSecret" appKeyboardClick>Make secret</mat-checkbox>
  </div>
</form>
