@import '../../../../../variables.sass'

h1
  font-family: "CircularSpotifyTxT-Black"
  font-size: 1.7em
  text-align: left

.top-row
  height: 40px
  display: flex
  align-items: flex-end


.buttons
  color: $gray-light
  padding-bottom: 4px
  margin-left: auto
  display: flex
  align-self: center
  align-items: center

.buttons button:hover:not(:disabled)
  color: $white-dim


// big buttons

.big-button-wrapper
  color: $white-dim
  display: flex
  border: 2px solid $gray-dark-row-hover
  border-radius: 5px
  background-color: $gray-dark-row-hover
  box-shadow: $subtle-shadow
  width: 100%

.big-button
  font-size: 14px
  cursor: pointer
  border: none
  padding: 24px 12px 4px 12px
  border-radius: 5px
  background-color: $gray-dark-row-hover
  width: 100%

.big-button:hover, .big-button:focus
  background-color: #3b3b3b
  outline: 0

.big-button-selected
  color: $white
  border-color: $green
  background-color-color: $gray

.big-button-input
  cursor: pointer !important
  width: 47.5px !important
  text-align: center


// grid

.split-the-playlist-grid
  margin: 20px 0

.playlist-details-grid
  margin-top: 30px

.mat-grid-tile .mat-form-field
  height: 100%
  width: 100%


// smart split

.smart-split
  font-size: 14px
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 24px

.smart-split button
  margin-left: 16px
  color: $gray-light

.smart-split button:hover:not(:disabled)
  color: $white-dim


// button toggle

.mat-button-toggle-group-appearance-standard
  font-size: 14px
  margin-bottom: 1.34375em
  margin-right: 24px
  border-radius: 5px
  border-color: $gray-dark-row-hover
  background-color: $gray-dark-row-hover
  box-shadow: $subtle-shadow
  height: 51.19px
  width: 100px

.mat-button-toggle-appearance-standard
  background-color: $gray-dark-row-hover
  border-radius: 5px


// checkbox

.checkbox-container .smart-split-checkbox
  padding-right: 3px

.checkbox-container .make-secret-checkbox
  height: 66.16px
  display: flex
  align-items: center
  justify-content: center
  margin: 8px auto 2px auto
  width: fit-content


@media(max-width: $breakpoint-tablet)
  .split-the-playlist-grid
    margin: 16px 0

  .playlist-details-grid
    margin-top: 26px

  .smart-split
    margin-bottom: 20px

  .mat-button-toggle-group-appearance-standard
    margin-right: 20px

  .checkbox-container .make-secret-checkbox
    margin: 4px auto 2px auto


@media(max-width: $breakpoint-phone)
  .split-the-playlist-grid
    margin: 12px 0

  .playlist-details-grid
    margin-top: 22px

  .smart-split
    margin-bottom: 16px

  .mat-button-toggle-group-appearance-standard
    margin-right: 16px

  .checkbox-container .make-secret-checkbox
    margin: 0 auto 2px auto


// numbering

.prefix, .suffix
  width: 24px
  font-size: 24px
  text-align: center
  color: $gray-light

.prefix
  margin-right: 12px

.suffix
  margin-left: 8px

.numbering-style-separator
  padding: 0 4px
  color: #ffffff80
