<span class="footer-icon-wrapper" [ngClass]="{'footer-icon-wrapper-hidden': hidden || onDialog}">
  <div class="footer-icon" [ngClass]="{'footer-icon-on-dialog': onDialog,
    'footer-icon-slow-entrance': useSlowFooterIconEntrance, 'footer-icon-fast-entrance': useFastFooterIconEntrance}">
    <button mat-icon-button (click)="scrollToBottom()" aria-label="Scroll to bottom" [disabled]="hidden || iconHidden">
      <mat-icon #icon [ngClass]="{'icon-hidden': iconHidden}">expand_more</mat-icon>
    </button>
  </div>
</span>
