@import 'variables.sass'

// mat-button

.app-container .mat-button
  color: $white
  font-family: "CircularSpotifyTxT-Med"
  font-size: 1em
  line-height: 1
  padding: 1.125em 3em 1em
  margin: 2.5em 1em 0 1em
  border-radius: 31.25em
  transition-property: background-color, border-color, color, box-shadow, filter
  transition-duration: 0.2s
  border-width: 0
  letter-spacing: 0.125em
  min-width: 10em
  text-transform: uppercase
  white-space: normal
  box-shadow: $subtle-shadow
  background-color: $green
  outline: 0

@media(max-width: $breakpoint-tablet)
  .app-container .mat-button
    margin: 2.5em 0.8em 0 0.8em

@media(max-width: $breakpoint-phone)
  .app-container .mat-button
    margin: 2.5em 0.6em 0 0.6em

.app-container .mat-button:hover:not(:disabled)
  background-color: $green-hover


// mat-stepper

.app-container .mat-stepper-horizontal
  color: $white
  background-color: $gray-dark-background
  border-radius: 5px
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
  transition: width 0.25s
  width: inherit

.app-container .mat-horizontal-content-container
  transition: height 0.25s
  height: 784.875px

.app-container .mat-horizontal-stepper-header
  font-family: "CircularSpotifyTxT-Black"
  padding: 0 12px

.app-container .mat-horizontal-stepper-header-container
  background-color: $gray-dark-background
  border-radius: 5px 5px 0 0

.app-container .mat-stepper-horizontal-line
  background-color: $gray

.app-container .mat-step-header
  border-radius: 500px
  height: 48px
  margin: 24px

.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line,
.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-step-header
  visibility: hidden


@media(max-width: $breakpoint-tablet)
  .app-container .mat-stepper-horizontal
    box-shadow: none
    border-radius: 0
    height: 100%
    width: 100%

  .app-container .mat-horizontal-content-container
    height: 100%
    padding: 0 20px 20px 20px

  .app-container .mat-horizontal-stepper-header
    padding: 0 10px

  .app-container .mat-step-header
    height: 44px
    margin: 20px

  .app-container .shrink-window .mat-horizontal-stepper-header-container
    height: 20px


@media(min-width: $breakpoint-tablet + 1)
  .app-container .shrink-window .mat-stepper-horizontal
    transition: width 0.25s
    width: 650px

  .app-container .shrink-window .mat-horizontal-content-container
    align-items: center
    transition: height 0.25s
    height: 477.75px


@media(max-width: $breakpoint-phone)
  .app-container .mat-horizontal-content-container
    height: 100%
    padding: 0 16px 16px 16px

  .app-container .mat-horizontal-stepper-header
    padding: 0 8px

  .app-container .mat-stepper-horizontal-line
    display: none

  .app-container .mat-step-header
    height: 40px
    margin: 16px

  .app-container .mat-step-header:first-of-type
    margin-right: auto

  .app-container .mat-step-header:nth-of-type(2)
    margin: 16px 8px

  .app-container .mat-step-header:nth-last-of-type(2)
    margin-left: auto

  .mat-horizontal-stepper-header .mat-step-icon
    margin-right: 4px !important

  .app-container .shrink-window .mat-horizontal-stepper-header-container
    height: 16px


.app-container .mat-step-header .mat-step-icon
  background-color: $gray
  user-select: none

.app-container .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit
  background-color: $green

.app-container .mat-step-header .mat-step-label.mat-step-label-active
  color: $white

.app-container .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line:last-of-type,
.app-container .mat-horizontal-stepper-header-container .mat-step-header:last-of-type
  display: none

.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line,
.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-step-header
  visibility: hidden


// mat-paginator

.app-container .mat-paginator
  color: $gray-light
  background: none
  margin-top: -6px

.app-container .mat-paginator .mat-icon-button:hover:not(:disabled)
  color: $white-dim

.app-container .mat-paginator .mat-select-arrow
  color: $gray-light

.app-container .mat-paginator .mat-form-field-appearance-legacy .mat-form-field-underline,
.app-container .mat-paginator .mat-form-field-appearance-fill .mat-form-field-underline,
.app-container .mat-paginator .mat-form-field-appearance-fill .mat-form-field-underline::before,
  background-color: $gray-light


@media(max-width: $breakpoint-tablet)
  .app-container .mat-paginator-range-label
    margin: 0 24px 0 18px


@media(max-width: $breakpoint-phone)
  .app-container .mat-paginator-range-label
    margin: 0 16px 0 0

  .app-container .mat-paginator-page-size
    display: none


// mat-select-panel

.app-container .mat-select-panel
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-property: color
  transition-duration: 400ms
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  transition-delay: 0s
  background: none
  user-select: none

.app-container .mat-select:not(.mat-select-disabled) .mat-select-value,
.app-container .mat-select-panel .mat-option
  color: $white

.app-container .mat-select-panel .mat-option
  background: $gray

.app-container .mat-select-panel .mat-option:hover
  background: $gray-hover

.app-container .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
  background: $gray-selected

.app-container .mat-icon-button[disabled][disabled],
  color: $gray

.cdk-overlay-pane .mat-option-text
  user-select: none


// mat-chip

.app-container .mat-chip-list-wrapper
  margin: 6px -4px 24px -4px
  text-align: left


// mat-icon

.app-container .mat-icon-button
  width: 35px
  height: 35px
  line-height: 35px
  margin: 0 2.5px


// mat-tooltip

.cdk-overlay-container .mat-tooltip
  white-space: pre-line
  font-size: 1em
  margin-bottom: 0.5em


// mat-card

.app-container .mat-card
  font-family: "CircularSpotifyTxT-Light"
  margin-bottom: 24px
  border-radius: 5px
  background-color: $gray-dark-row-hover
  color: $white
  display: flex
  align-items: center
  justify-content: center
  text-align: left

.app-container .mat-card .mat-icon
  color: $gray-light
  margin-right: 16px

@media(max-width: $breakpoint-tablet)
  .app-container .mat-card
    margin-bottom: 20px

@media(max-width: $breakpoint-phone)
  .app-container .mat-card
    margin-bottom: 16px


// mat-dialog

.cdk-overlay-container .mat-dialog-container
  background-color: $gray-dark-row-hover


// mat-form-field

.app-container .mat-form-field
  font-size: 14px

.app-container .mat-form-field-infix
  width: auto

.app-container .big-button-input .mat-form-field-infix
  border-top: none

.app-container .mat-form-field-wrapper
  height: 100%

.app-container .mat-form-field-appearance-fill .mat-form-field-flex
  background: $gray-dark-row-hover
  box-shadow: $subtle-shadow
  border-radius: 5px
  height: 100%

.app-container .mat-form-field-appearance-fill .mat-form-field-underline,
  display: none

.app-container .mat-form-field-appearance-standard.mat-form-field-disabled .mat-form-field-underline
  background-image: linear-gradient(to right, #ffffff80 100%, #ffffff80 100%)

.app-container .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex
  opacity: 0.5


// button-toggle

.app-container .mat-button-toggle-appearance-standard .mat-button-toggle-label-content
  line-height: 45px
  padding: 0px 10.5px
  border-radius: 5px
  color: $gray-light

.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle,
.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle
  border: 2px solid #0000

.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle-checked .mat-button-toggle-label-content,
.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle-checked .mat-button-toggle-label-content
  background-color: $gray
  color: $white

.app-container .mat-button-toggle-group-appearance-standard:not(.ng-valid)
  opacity: 0.5


// mat-checkbox

.app-container .mat-checkbox
  font-size: 14px

.app-container .mat-checkbox-frame
  border-color: $gray-light

.app-container .mat-checkbox-disabled .mat-checkbox-label
  color: #ffffff80

.app-container .checkbox-container .mat-form-field
  width: 70px

.app-container .checkbox-container label
  margin: 1.34375em 0


// progress spinner

.app-container .progress-spinner-cancel svg circle
  stroke: $red

.app-container .progress-spinner-error svg circle
  stroke: $gray
