
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$green-palette: (
    50 : #e4f7ea,
    100 : #bbeacc,
    200 : #8edcaa,
    300 : #61ce87,
    400 : #3fc46e,
    500 : #1db954,
    600 : #1ab24d,
    700 : #15aa43,
    800 : #11a23a,
    900 : #0a9329,
    A100 : #c1ffcc,
    A200 : #8effa3,
    A400 : #5bff79,
    A700 : #41ff64,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SortifyWEB-primary: mat-palette($green-palette);
$SortifyWEB-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SortifyWEB-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SortifyWEB-theme: mat-light-theme($SortifyWEB-primary, $SortifyWEB-accent, $SortifyWEB-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SortifyWEB-theme);

// Custom font family
@font-face {
    font-family: "CircularSpotifyTxT-Light";
    src: url(assets/font/CircularSpotifyTxT-Light.woff2) format("woff2");
}

@font-face {
    font-family: "CircularSpotifyTxT-Med";
    src: url(assets/font/CircularSpotifyTxT-Med.woff2) format("woff2");
}

@font-face {
    font-family: "CircularSpotifyTxT-Black";
    src: url(assets/font/CircularSpotifyTxT-Black.woff2) format("woff2");
}

$custom-typography: mat-typography-config(
  $font-family: 'CircularSpotifyTxT-Light',
);

@include mat-core($custom-typography);
