@import 'variables.sass'

// mat-button

.app-container .mat-button,
.cdk-overlay-container .mat-button
  color: $white
  font-family: "CircularSpotifyTxT-Med"
  font-size: 1em
  line-height: 1
  padding: 1.125em 3em 1em
  margin: 2.5em 1em 0 1em
  border-radius: 31.25em
  border-width: 0
  letter-spacing: 0.125em
  min-width: 10em
  text-transform: uppercase
  white-space: normal
  box-shadow: $subtle-shadow
  background-color: $green
  transition-property: background-color, border-color, color, box-shadow
  transition-duration: $transition-time-fast
  transition-timing-function: $transition-curve
  outline: 0

.app-container .mat-button:hover:not(:disabled),
.app-container .mat-button:focus:not(:disabled)
  background-color: $green-hover

.app-container .mat-button.cdk-keyboard-focused .mat-button-focus-overlay,
.cdk-overlay-container .mat-button.cdk-keyboard-focused .mat-button-focus-overlay,
.app-container .mat-button.cdk-keyboard-focused:hover .mat-button-focus-overlay,
.cdk-overlay-container .mat-button.cdk-keyboard-focused:hover .mat-button-focus-overlay,
.app-container .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay,
.cdk-overlay-container .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay,
.app-container .mat-button.cdk-program-focused .mat-button-focus-overlay,
.cdk-overlay-container .mat-button.cdk-program-focused .mat-button-focus-overlay
  opacity: 0


@media(max-width: $breakpoint-tablet)
  .app-container .mat-button
    margin: 2.5em 0.8em 0 0.8em


@media(max-width: $breakpoint-phone)
  .app-container .mat-button
    margin: 2.5em 0.6em 0 0.6em


// mat-stepper

.app-container .mat-stepper-horizontal
  color: $white
  background-color: $gray-dark-background
  border-radius: 5px
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
  width: inherit
  transition: width $transition-time-slow $transition-curve

.app-container .mat-horizontal-content-container
  height: 784.875px
  transition: height $transition-time-slow $transition-curve

.app-container .mat-horizontal-stepper-header
  font-family: "CircularSpotifyTxT-Black"
  padding: 0 12px

.app-container .mat-horizontal-stepper-header-container
  background-color: $gray-dark-background
  border-radius: 5px 5px 0 0

.app-container .mat-stepper-horizontal-line
  background-color: $gray

.app-container .mat-step-header
  transition: background-color $transition-time-fast $transition-curve
  border-radius: 500px
  height: 48px
  margin: 24px

.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line,
.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-step-header
  visibility: hidden


@media(max-width: $breakpoint-tablet)
  .app-container .mat-stepper-horizontal
    box-shadow: none
    border-radius: 0
    height: 100%
    width: 100%

  .app-container .mat-horizontal-content-container
    height: 100%
    padding: 0 20px 20px 20px

  .app-container .mat-horizontal-stepper-header
    padding: 0 10px

  .app-container .mat-step-header
    height: 44px
    margin: 20px

  .app-container .shrink-window .mat-horizontal-stepper-header-container
    height: 20px


@media(min-width: $breakpoint-tablet + 1)
  .app-container .shrink-window .mat-stepper-horizontal
    width: 650px
    transition: width $transition-time-slow $transition-curve

  .app-container .shrink-window .mat-horizontal-content-container
    align-items: center
    height: 477.75px
    transition: height $transition-time-slow $transition-curve


@media(max-width: $breakpoint-phone)
  .app-container .mat-horizontal-content-container
    height: 100%
    padding: 0 16px 16px 16px

  .app-container .mat-horizontal-stepper-header
    padding: 0 8px

  .app-container .mat-stepper-horizontal-line
    display: none

  .app-container .mat-step-header
    height: 40px
    margin: 16px

  .app-container .sort-stepper .mat-step-header:first-of-type
    margin-left: auto
    margin-right: 0

  .app-container .create-stepper .mat-step-header:first-of-type
    margin-right: auto

  .app-container .create-stepper .mat-step-header:nth-of-type(2)
    margin: 16px 8px

  .app-container .sort-stepper .mat-step-header:nth-last-of-type(2)
    margin-left: auto
    margin-right: auto

  .app-container .create-stepper .mat-step-header:nth-last-of-type(2)
    margin-left: auto

  .mat-horizontal-stepper-header .mat-step-icon
    margin-right: 4px !important

  .app-container .shrink-window .mat-horizontal-stepper-header-container
    height: 16px


.app-container .mat-step-header .mat-step-icon
  background-color: $gray
  user-select: none

.app-container .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit
  background-color: $green

.app-container .mat-step-header .mat-step-label.mat-step-label-active
  color: $white

.app-container .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line:last-of-type,
.app-container .mat-horizontal-stepper-header-container .mat-step-header:last-of-type
  display: none

.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line,
.app-container .shrink-window .mat-horizontal-stepper-header-container .mat-step-header
  visibility: hidden


// mat-paginator

.app-container .mat-paginator
  color: $gray-light
  background: none
  margin-top: -6px

.app-container .mat-paginator .mat-icon-button:hover:not(:disabled)
  color: $white-dim

.app-container .mat-paginator .mat-select-arrow
  color: $gray-light

.app-container .mat-paginator .mat-form-field-appearance-legacy .mat-form-field-underline,
.app-container .mat-paginator .mat-form-field-appearance-fill .mat-form-field-underline,
.app-container .mat-paginator .mat-form-field-appearance-fill .mat-form-field-underline::before,
  background-color: $gray-light


@media(max-width: $breakpoint-tablet)
  .app-container .mat-paginator-range-label
    margin: 0 24px 0 18px


@media(max-width: $breakpoint-phone)
  .app-container .mat-paginator-range-label
    margin: 0 16px 0 0

  .app-container .mat-paginator-page-size
    display: none


// mat-select-panel

.app-container .mat-select-panel
  background: none
  user-select: none

.app-container .mat-select:not(.mat-select-disabled) .mat-select-value,
.app-container .mat-select-panel .mat-option
  color: $white

.app-container .mat-select-panel .mat-option
  background-color: $gray

.app-container .mat-select-panel .mat-option:hover
  background-color: $gray-hover

.app-container .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple)
  background-color: $gray-selected

.app-container .mat-icon-button[disabled][disabled],
  color: $gray

.cdk-overlay-pane .mat-option
  transition: background-color $transition-time-fast $transition-curve

.cdk-overlay-pane .mat-option-text
  user-select: none


// mat-chip

.app-container .mat-chip-list-wrapper
  margin: 6px -4px 24px -4px
  text-align: left

.app-container .mat-chip.mat-standard-chip .mat-chip-remove
  opacity: 1
  color: $gray-light
  transition: color $transition-time-fast $transition-curve

.app-container .mat-chip.mat-standard-chip .mat-chip-remove:hover
  opacity: 1
  color: $white-dim

.app-container .mat-standard-chip::after
  transition: opacity $transition-time-fast $transition-curve


// mat-icon

.app-container .mat-icon-button
  width: 35px
  height: 35px
  line-height: 35px
  margin: 0 2.5px
  transition: color $transition-time-fast $transition-curve

// mat-tooltip

.cdk-overlay-container .mat-tooltip
  white-space: pre-line
  font-size: 1em
  margin-bottom: 0.5em


// mat-card

.app-container .mat-card
  font-size: 14px
  font-family: "CircularSpotifyTxT-Light"
  margin-bottom: 24px
  border-radius: 5px
  background-color: $gray-dark-row-hover
  color: $white
  display: flex
  align-items: center
  justify-content: center
  text-align: left

.app-container .mat-card .mat-icon
  color: $gray-light
  margin-right: 16px


@media(max-width: $breakpoint-tablet)
  .app-container .mat-card
    margin-bottom: 20px


@media(max-width: $breakpoint-phone)
  .app-container .mat-card
    margin-bottom: 16px


// mat-dialog

.cdk-overlay-container .mat-dialog-container h1,
.cdk-overlay-container .mat-dialog-container p
  margin-bottom: 16px

.cdk-overlay-container .mat-dialog-container
  background-color: $gray-dark-row-hover
  border-radius: 5px

.cdk-overlay-container .mat-dialog-actions
  margin-bottom: -24px
  padding: 24px 0
  min-height: auto


@media(max-width: $breakpoint-tablet)
  .cdk-overlay-container .mat-dialog-container h1,
  .cdk-overlay-container .mat-dialog-container p
    margin-bottom: 13.333px

  .cdk-overlay-container .mat-dialog-container
    padding: 20px

  .cdk-overlay-container .mat-dialog-content
    margin: 0 -20px
    padding: 0 20px

  .cdk-overlay-container .mat-dialog-actions
    margin-bottom: -20px
    padding: 20px 0


@media(max-width: $breakpoint-phone)
  .cdk-overlay-container .mat-dialog-container h1,
  .cdk-overlay-container .mat-dialog-container p
    margin-bottom: 10.666px

  .cdk-overlay-container .mat-dialog-container
    padding: 16px

  .cdk-overlay-container .mat-dialog-content
    margin: 0 -16px
    padding: 0 16px

  .cdk-overlay-container .mat-dialog-actions
    margin-bottom: -16px
    padding: 16px 0


// mat-snackbar

.cdk-overlay-container .mat-snack-bar-container
  color: $white
  background-color: #fff1
  backdrop-filter: blur(50px)
  box-shadow: $subtle-shadow
  border-radius: 31.25em
  padding: 1.125em 3em 1em
  user-select: none

.cdk-overlay-container .mat-simple-snackbar
  justify-content: center
  font-size: 1em
  font-family: "CircularSpotifyTxT-Med"
  letter-spacing: 0.125em
  text-transform: uppercase
  white-space: normal


// mat-form-field

.app-container .mat-form-field
  font-size: 14px

.app-container .mat-form-field-infix
  width: auto

.app-container .big-button-input .mat-form-field-infix
  border-top: none

.app-container .mat-form-field-wrapper
  height: 100%

.app-container .mat-form-field-appearance-fill .mat-form-field-flex
  background-color: $gray-dark-row-hover
  box-shadow: $subtle-shadow
  border-radius: 5px
  height: 100%

.app-container .mat-form-field-appearance-fill .mat-form-field-underline,
  display: none

.app-container .mat-form-field-appearance-standard.mat-form-field-disabled .mat-form-field-underline
  background-image: linear-gradient(to right, #ffffff80 100%, #ffffff80 100%)

.app-container .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex
  opacity: 0.5


// button-toggle

.app-container .mat-button-toggle-appearance-standard .mat-button-toggle-label-content
  line-height: 45px
  padding: 0px 10.5px
  border-radius: 5px
  color: $gray-light
  transition: background-color $transition-time-fast $transition-curve

.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle,
.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle
  border: 2px solid #0000

.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle-checked .mat-button-toggle-label-content,
.app-container .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle-checked .mat-button-toggle-label-content
  background-color: $gray
  color: $white

.app-container .mat-button-toggle-group-appearance-standard:not(.ng-valid)
  opacity: 0.5

.app-container .mat-button-toggle .mat-button-toggle-ripple
  border-radius: 5px

.app-container .mat-button-toggle-focus-overlay
  transition: opacity $transition-time-fast $transition-curve

.app-container .mat-button-toggle-appearance-standard.cdk-keyboard-focused:not(.mat-button-toggle-disabled) .mat-button-toggle-focus-overlay,
.app-container .mat-button-toggle-appearance-standard:not(.mat-button-toggle-disabled):hover .mat-button-toggle-focus-overlay
  opacity: 0.13


// mat-checkbox

.app-container .mat-checkbox
  font-size: 14px

.app-container .mat-checkbox-frame
  border-color: $gray-light

.app-container .mat-checkbox-disabled .mat-checkbox-label
  color: #ffffff80

.app-container .checkbox-container .mat-form-field
  width: 70px

.app-container .checkbox-container label
  margin: 1.34375em 0


// progress spinner

.app-container .progress-spinner-cancel svg circle
  stroke: $red

.app-container .progress-spinner-error svg circle
  stroke: $warning
