@import 'variables.sass';

body
  margin: 0
  font-family: "CircularSpotifyTxT-Med"
  font-size: 0.875rem

@media(max-width: $breakpoint-tablet)
  body
    font-size: 0.8125rem

@media(max-width: $breakpoint-phone)
  body
    font-size: 0.75rem

h1
  font-family: "CircularSpotifyTxT-Black"


// background image

.background-img
  background: url('assets/background.jpg') no-repeat center center fixed
  background-size: cover
  height: 100vh


// images and icons

img, i, .mat-icon
  user-select: none


// selection

::selection
  color: $white
  background: #aaa


// scrollbar

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  margin-bottom: 3px

::-webkit-scrollbar-thumb
  background: $gray-light
  border-radius: 5px

::-webkit-scrollbar-thumb:hover
  background: $white-dim
