@import 'variables.sass'

body
  margin: 0
  font-family: "CircularSpotifyTxT-Med"
  font-size: 0.875rem

h1
  font-family: "CircularSpotifyTxT-Black"
  font-size: 5em

h2
  font-size: 2em

h3
  font-size: 1.75em

@media(max-width: $breakpoint-tablet)
  body
    font-size: 0.8125rem

@media(max-width: $breakpoint-phone)
  body
    font-size: 0.75rem

// background image

.background-img
  background: url('assets/background.jpg') no-repeat center center fixed
  background-size: cover
  height: calc(100vh + $footer-height)


// router wrapper

.router-wrapper
  height: calc(100vh)


// images and icons

img, i, .mat-icon
  user-select: none


// selection

::selection
  color: $white
  background: #aaa


// scrollbar

::-webkit-scrollbar
  width: 5px

// ::-webkit-scrollbar-track

::-webkit-scrollbar-thumb
  background: $gray-light
  border-radius: 5px

::-webkit-scrollbar-thumb:hover
  background: $white-dim
