@import '../../../variables.sass';

.container
  padding-top: 250px
  margin: 0 auto
  width: 800px
  text-align: center
  color: $white

h1
  font-size: 3rem
  letter-spacing: 0.0625rem

.description
  font-size: 1.5rem

.green-color
  color: $green


// button

.mat-button
  margin-top: 2.5rem
  background-color: $green

.mat-button:hover:not(:disabled)
  background-color: $green-hover
