@import '../../../../../styles/variables.sass'

h1
  font-family: "CircularSpotifyTxT-Black"
  font-size: 1.7em
  text-align: left

.header-row
  height: 40px
  display: flex
  align-items: flex-end


.buttons
  color: $gray-light
  padding-bottom: 4px
  margin-left: auto
  display: flex
  align-self: center
  align-items: center

.buttons button:hover:not(:disabled)
  color: $white-dim

.help-button
  color: $gray-light
  margin-bottom: 6px
  margin-left: 8px
  display: flex
  align-self: left
  align-items: center

.help-button button:hover:not(:disabled)
  color: $white-dim


.sortable-group
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  min-height: 88px
  padding: 4px
  width: 100%

.dropzone
  border-radius: 5px
  border: dashed 2px $gray
  padding: 2px !important

.dropzone-highlight-green
  border-color: $green-hover

.dropzone-highlight-red
  border-color: $red-hover

.audio-feature-wrapper
  display: inline-block

.mat-chip
  cursor: pointer
  color: $white
  background-color: $gray
  transform: translateZ(1px)
  backface-visibility: hidden
  font-family: "CircularSpotifyTxT-Med"
  justify-content: space-between
  user-select: none

.mat-chip-disabled
  pointer-events: none

.ghost-chip
  visibility: hidden

.order-icon
  color: $gray-light
  transition: color $transition-time-fast $transition-curve
  font-size: 18px
  width: 18px
  height: 18px
  margin: 0 6px 0 -2px

.order-icon:hover
  color: $white-dim
