<mat-card>
  <mat-icon>info</mat-icon>Drag and drop or click the properties you want to sort by.
</mat-card>

<div class="top-row">
  <h1>Basic properties</h1>

  <div class="buttons">
    <button mat-icon-button (click)="setRecommendedSorting()" matTooltip="Recommended sorting" disabled="{{recommendedSorting}}">
      <mat-icon>star</mat-icon>
    </button>

    <button mat-icon-button (click)="clearSorting()" matTooltip="Clear sorting" disabled="{{sortBy.length === 0}}">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<mat-chip-list>
  <div class="sortable-group" [sortablejs]="basicProperties" [sortablejsOptions]="basicPropertiesOptions">
    <mat-chip [attr.data-name]="item.name" [attr.data-value]="item.value" [attr.data-initialIndex]="item.initialIndex"
      [attr.data-initialgroup]="item.initialGroup" *ngFor="let item of basicProperties" selectable="false"
      (click)="selectChip($event)" (keydown.enter)="selectChip($event)" (keydown.space)="selectChip($event)">
      {{item.name}}
    </mat-chip>
  </div>
</mat-chip-list>

<h1>Audio features</h1>

<mat-chip-list disabled="{{audioFeatureSelected}}">
  <div class="sortable-group" [sortablejs]="audioFeatures" [sortablejsOptions]="audioFeaturesOptions">
    <div class="audio-feature-wrapper" *ngFor="let item of audioFeatures" matTooltip="Additional audio features&#13;will not affect the sorting"
      matTooltipDisabled="{{!audioFeatureSelected}}" [ngClass]="{'disabled': audioFeatureSelected}">
      <mat-chip [attr.data-name]="item.name" [attr.data-value]="item.value" [attr.data-initialIndex]="item.initialIndex" [attr.data-initialgroup]="item.initialGroup"
        (click)="selectChip($event)" (keydown.enter)="selectChip($event)" (keydown.space)="selectChip($event)" selectable="false">
        {{item.name}}
      </mat-chip>
    </div>
  </div>
</mat-chip-list>

<h1>Sort by</h1>

<mat-chip-list>
  <div class="sortable-group" [sortablejs]="sortBy" [sortablejsOptions]="sortByOptions" id="dropzone"
    [ngClass]="{'dropzone': dropzoneIsVisible, 'dropzone-highlight-green': dropzoneIsHighlightedGreen,
      'dropzone-highlight-red': dropzoneIsHighlightedRed}">

    <mat-chip [attr.data-name]="item.name" [attr.data-value]="item.value" [attr.data-initialIndex]="item.initialIndex"
      [attr.data-initialgroup]="item.initialGroup" *ngFor="let item of sortBy" selectable="false"
        (keydown.enter)="changeOrder(item)" (keydown.space)="changeOrder(item)" (keydown.delete)="deselectChip($event)">
      <mat-icon class="order-icon" *ngIf="item.order === 'asc'" (click)="changeOrder(item)">arrow_upward</mat-icon>
      <mat-icon class="order-icon" *ngIf="item.order === 'desc'" (click)="changeOrder(item)">arrow_downward</mat-icon>
      {{item.name}}
      <mat-icon matChipRemove (click)="deselectChip($event, true)">cancel</mat-icon>
    </mat-chip>
  </div>
</mat-chip-list>
