@import '../../../variables.sass';

.container
  padding-top: 295px
  margin: 0 auto
  width: 800px
  text-align: center
  color: $white

h1
  font-size: 2.5rem
  letter-spacing: 1px

.description
  font-size: 1.5rem

.green-color
  color: $green


// button

.mat-flat-button
  font-family: "CircularSpotifyTxT-Med"
  margin-top: 40px
  font-size: 14px
  line-height: 1
  border-radius: 500px
  padding: 18px 48px 16px
  transition-property: background-color, border-color, color, box-shadow, filter
  transition-duration: .3s
  border-width: 0
  letter-spacing: 2px
  min-width: 160px
  text-transform: uppercase
  white-space: normal
  background-color: $green
  outline: 0

.mat-flat-button:hover
  background-color: $green-hover


// progress spinner

.progress-spinner-wrapper
  position: fixed
  top: 50%
  left: 50%
  margin-top: -17.5px
  margin-left: -25px
