@import '../../../variables.sass';

.container
  padding-top: 295px
  margin: 0 auto
  width: 800px
  text-align: center
  color: $white

h1
  font-size: 2.5rem
  letter-spacing: 0.0625rem

.description
  font-size: 1.5rem

.green-color
  color: $green


// button

.mat-button
  margin-top: 2.5rem
  background-color: $green

.mat-button:hover:not(:disabled)
  background-color: $green-hover


// progress spinner

.progress-spinner-wrapper
  position: fixed
  top: 50%
  left: 50%
  margin-top: -17.5px
  margin-left: -25px
