@import '../../../styles/variables.sass'

.outer-container
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  position: relative

.inner-container
  text-align: center
  position: absolute
  padding: 1.25em
  color: $white
  animation: container-fade-in $transition-time-medium $transition-curve


@media(max-width: $breakpoint-tablet)
  .outer-container
    min-height: calc(100vh - #{$footer-height})

  .inner-container
    position: relative


@media(min-height: $breakpoint-phone)
  .inner-container
    top: 25%
