@import '../../../variables.sass';

.outer-container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  position: relative

.inner-container
  text-align: center
  position: absolute
  top: 25%
  padding: 0.625em
  color: $white

h1
  font-size: 4em
  letter-spacing: 0.0625em

.description
  font-size: 1.5em

.green-color
  color: $green

.mat-button
  margin-top: 2.5em
  background-color: $green

.mat-button:hover:not(:disabled)
  background-color: $green-hover
