<div class="outer-container">
  <div class="inner-container">
    <h1>Privacy</h1>

    <h2>Personal information</h2>
    <p><span class="bold">Sortify</span> does not store any information about the user. It connects to the user's Spotify account to read, edit and create playlists on his behalf.</p>
    <p>You can remove this access at any time <a href="//www.spotify.com/account/apps/" aria-label="Spotify apps">here.</a></p>

    <h2>Cookies</h2>
    <p><span class="bold">Sortify</span> requires third-party cookies set by Spotify to maintain the user's login state.</p>
    <p>You can read more about them <a href="//www.spotify.com/legal/cookies-policy/" aria-label="Spotify apps">here.</a></p>

    <button mat-button color="primary" [routerLink]="['']">Back</button>
  </div>
</div>
