<div class="outer-container">
  <div class="inner-container">
    <h1>About</h1>

    <h2>This project</h2>
    <p><span class="bold">Sortify</span> is a powerful tool that aims to help people organize their Spotify libraries.
      It allows you to sort existing playlists or create new ones. All that, while being very simple and friendly to use.</p>
    <p>You can find the source code on <a href="//github.com/tomaszFijalkowski/sortify" aria-label="GitHub">GitHub.</a></p>

    <h2>Support me</h2>
    <p>If you find my website useful, consider sharing it with friends or... 😄</p>
    <a href="//www.buymeacoffee.com/sortify">
      <img class="buy-me-a-coffee" src="//img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=sortify&button_colour=1db954&font_colour=FFFFFF&font_family=Cookie&outline_colour=FFFFFF&coffee_colour=6F4E37">
    </a>

    <h2>Contact</h2>
    <p>If you have any questions or suggestions, please reach me at <a href="mailto: contact@sortify.it">contact@sortify.it.</a>
      <br>Your feedback would be greatly appreciated!</p>

    <h2>Credit</h2>
    <p>Font made from <a href="//www.onlinewebfonts.com" aria-label="Online Web Fonts">Online Web Fonts.</a></p>

    <button mat-button color="primary" [routerLink]="['']">Back</button>
  </div>
</div>
